<% color = new %>
add a new color</br>
<% form_for :color, color, :url => manage_colors_url,
	:html => {
		:ajax_binding => 'ajax_form',
		:ajax_success_element => 'color_list',
		:ajax_success_placement => 'append',
		:ajax_success_callback => "$('#color_new_link').show();$('#color_new').empty();",
		:ajax_error_element => 'color_new',
		:ajax_method => 'POST'
	} do |f| %>
	<div class="span-8 last">
		<div class="span-4">
			<%= color.first_error_on :name %>
			<%= f.text_field :name, :size => 20 %>
			<%= f.hidden_field :color_group_id %>
			<%= hidden_field_tag 'product_id', @product.id if @product %>
		</div>
		
		<div class="span-4 last">
			<%= f.submit :add %> | <a onclick="$('#color_new').empty();$('#color_new_link').show();">cancel</a>
		</div>
	</div>
<% end %>
