<div class="span-24 last dash-foreground-color container-padding">
<div class="span-24 last">
	<div class="span-10">
		<h1>order <%= @order.id %></h1>
	</div>
	<div class="span-10">
		<%= link_to 'mark as shipped', manage_order_url(@order) + '?event=fulfill', :method => :put %>
	</div>
</div>
<%= render :partial => 'carts/summary', :object => @order %>
<div class="span-14_75 last margin-top">
	<div id="billing_address" class="span-7 extra-margin-right">
		<h2>Billing Address</h2>
		<% billing_address = BillingAddress.create_or_find_by_order_id(@order.id) %>
		<div id="address_<%= billing_address.id %>" class="span-7 last border-bottom margin-bottom">
			<%= render :partial => 'addresses/show', :object => @order.billing_address %>
		</div>
	</div>
	<div id="shipping_address" class="span-7">
		<h2>Shipping Address</h2>
		<% shipping_address = ShippingAddress.create_or_find_by_order_id(@order.id) %>
		<div id="address_<%= shipping_address.id %>" class="span-7 last border-bottom margin-bottom">
			<%= render :partial => 'addresses/show', :object => @order.shipping_address %>
		</div>
	</div>
</div>
