<div class="span-24 last dash-foreground-color container-padding">
<div class="span-24 last">
	<div class="span-10">
		<h1>order <%= @order.id %></h1>
	</div>
	<div class="span-10">
		<% unless @order.shipped? %>
			<%= link_to 'mark as shipped', manage_order_url(@order) + '?event=fulfill', :method => :put, :confirm => 'Are you sure you want to mark this order as shipped?' %><br/>
			<% unless @order.cancelled? %>
				<%= link_to 'cancel', manage_order_url(@order) + '?event=cancel', :method => :put, :confirm => 'Are you sure you want to CANCEL this order? This means you will NOT ship the order.' %>
			<% end %>
		<% end %>
	</div>
</div>
<% unless @order.paypal_transactionid.blank? %>
<div class="span-24 last">
	Paypal transaction id:
	<%= @order.paypal_transactionid %>
</div>
<% end %>
<%= render :partial => 'carts/summary', :object => @order %>
<div id="email" class="span-14_75 last margin-top">
	<%= link_to @order.email, "mailto:#{@order.email}" %>
</div>
<div class="span-14_75 last margin-top">
	<div id="billing_address" class="span-7 extra-margin-right">
		<h2>Billing Address</h2>
		<% billing_address = BillingAddress.create_or_find_by_order_id(@order.id) %>
		<div id="address_<%= billing_address.id %>" class="span-7 last border-bottom margin-bottom">
			<%= render :partial => 'addresses/show', :object => @order.billing_address %>
		</div>
	</div>
	<div id="shipping_address" class="span-7">
		<h2>Shipping Address</h2>
		<% shipping_address = ShippingAddress.create_or_find_by_order_id(@order.id) %>
		<div id="address_<%= shipping_address.id %>" class="span-7 last border-bottom margin-bottom">
			<%= render :partial => 'addresses/show', :object => @order.shipping_address %>
		</div>
	</div>
</div>
