<div class="span-24 last dash-frame-color margin-bottom">
	<div class="span-4 text-center <% if @product_section == 'info' %>selected<% end %>">
		<%= link_to 'product info', edit_manage_product_url(@product) + '?product_section=info' %>
	</div>
	<div class="span-4 text-center <% if @product_section == 'options' %>selected<% end %>">
		<%= link_to 'images / options', edit_manage_product_url(@product) + '?product_section=options' %>
	</div>
	<div class="span-4 text-center <% if @product_section == 'overview' %>selected<% end %>">
		<%= link_to 'product overview', manage_product_url(@product) %>
	</div>
	<div class="span-4">&nbsp;</div>
	<div class="span-4 text-right">
		<%= link_to 'delete product', manage_product_url(@product), :method => :delete, :confirm => 'Are you sure you want to delete this product?' %>
	</div>
	<div class="span-4 last text-right">
		<%= link_to 'back to products list', manage_products_url %>
	</div>
</div>