<div class="span-24 last small-links">
	<div id="product_name_container" class="span-24 last list_item">
		<%= render :partial => 'show_name' %>
	</div>
	<div class="span-8 border">
		<h3>Images</h3>
		<%= render :partial => 'manage/product_images/index', :locals => {:product => @product} %>
	</div>
	<% form_for :product, @product, :url => manage_product_url(:id => @product.id, :_method => :put) do |f| %>
		<div class="span-8 border">
			<h3>Info</h3>
			<div class="span-8 last field-label">
				description
			</div>
			<div class="span-8 last">
				<%= @product.first_error_on :description %>
				<%= f.text_area :description, :class => 'textarea-8' %><br/>
			</div>
			<div class="span-8 last">
				<div class="span-4 field-label">
					category
				</div>
				<div class="span-4 last">
				<%= link_to '(add a new category)', new_manage_category_url(:product_id => @product.id), 
					:ajax_binding => 'ajax_link',
					:ajax_method => 'GET',
					:ajax_success_element => 'new_category',
					:ajax_success_callback => "$('#new_category_link').hide();",
					:id => 'new_category_link',
					:class => 'quiet tiny'
				%>
				</div>
			</div>
			<div class="span-8 last border-bottom">
				<%= @product.first_error_on :category_id %>
				<%= select_tag 'top_level_category', options_for_select([['Select Top Level Category',nil]] + Category.top_level.map{|c| [c.name,c.id]}, @product.category ? @product.category.parent.id : nil), :class => 'select_large' %><br/>
				<div id="new_category"></div>
			</div>
			<div class="span-8 last border-bottom">
				<div class="span-4 field-label">sub category</div>
				<div id="sub_category">
				</div>
			</div>
			<div class="span-8 last border-bottom">
				<div class="span-4 field-label">
					vehicle make
				</div>
				<%= render :partial => 'manage/vehicle_makes/index' %>
			</div>
			<div class="span-8 last border-bottom">
				<div class="span-8 last field-label">
					vehicle model
				</div>
				<div id="vehicle_model_select_container" class="span-8 last">
				</div>
			</div>
			<div class="span-8 last border-bottom">
				<div class="span-1 field-label">
					new
				</div>
				<div class="span-1">
					<%= @product.first_error_on :new %>
					<%= f.radio_button :new, true %>
				</div>
				<div class="span-1 field-label">
					used
				</div>
				<div class="span-1">
					<%= @product.first_error_on :new %>
					<%= f.radio_button :new, false %>
				</div>
			</div>
			<div class="span-8 last">
				<div class="span-4 prepend-4 last text-right">
					<%= f.submit 'save info' %> or <%= link_to 'cancel', manage_product_url(@product) %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="span-8 last">
		<h3>Options</h3>
		<div class="span-8 last border-bottom">
			<div class="span-8 last field-label">
				product options
			</div>
			<%= render :partial => 'manage/product_options/index' %>
		</div>
	</div>
</div>
<% javascript_tag do %>
$(document).ready(function(){
	$('#top_level_category').change(function(e){
		loadSubCategorySelect($(e.target).val());
	});
	function loadSubCategorySelect(parent_val){
		$.ajax({
			type: 'GET',
			url: '<%= manage_categories_url %>' + '?parent_id=' + parent_val + '&product_id=<%= @product.id %>',
			success: function(data,textStatus){
				$('#sub_category').html(data);
				bindAjaxEvents();
			}
		});
	};
	loadSubCategorySelect('<%= @product.category ? @product.category.parent.id : nil %>');
});
<% end %>