<%= render :partial => 'section_nav' %>
<div class="span-24 last dash-foreground-color container-padding">
	<div class="span-24 last">
		<div class="span-16">
			<h2><%= @product.name %></h2>
		</div>
		<div class="span-8 last text-right margin-top margin-bottom">
			<% if @product.errors.any? %>
				<div class="span-8 last text-right error"><%= @product.errors.on_base %></div>
			<% else %>
				<div class="span-8 last margin-bottom">
					<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
						<%= @product.state %>
					</div>
					<div class="span-8 last text-center">
						Click here to
						<%= link_to @product.next_action, manage_product_url(:id => @product.id, :event => @product.next_action), :method => :put %> it.
					</div>
				</div>
			<% end %>
			<div class="span-8 last margin-bottom">
				<% if @product.featured? %>
						<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
							featured
						</div>
						<div class="span-8 last text-center">
						 Click here to <%= link_to 'remove it', manage_product_url(@product) + '?product[featured]=false', :method => :put %> from the homepage features.
						</div>
				<% else %>
					<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
						not featured
					</div>
					<div class="span-8 last text-center">
						Click here to <%= link_to 'feature it', manage_product_url(@product) + '?product[featured]=true', :method => :put %> on the homepage.
					</div>
				<% end %>
				<% if @product.clearance? %>
						<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
							clearance
						</div>
						<div class="span-8 last text-center">
						 Click here to <%= link_to 'remove it', manage_product_url(@product) + '?product[clearance]=false', :method => :put %> from the clearance section.
						</div>
				<% else %>
					<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
						not clearance
					</div>
					<div class="span-8 last text-center">
						Click here to <%= link_to 'add it', manage_product_url(@product) + '?product[clearance]=true', :method => :put %> to the clearance section.
					</div>
				<% end %>
				<% if @product.whats_new? %>
						<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
							in "what's new?"
						</div>
						<div class="span-8 last text-center">
						 Click here to <%= link_to 'remove it', manage_product_url(@product) + '?product[whats_new]=false', :method => :put %> from the what's new section.
						</div>
				<% else %>
					<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
						not in "what's new?"
					</div>
					<div class="span-8 last text-center">
						Click here to <%= link_to 'add it', manage_product_url(@product) + '?product[whats_new]=true', :method => :put %> to the what's new section.
					</div>
				<% end %>
			</div>
			<div class="span-8 last margin-bottom">
				<div class="span-8 last text-center large bold" style="margin-bottom: 0;">
					page hits
				</div>
				<div class="span-8 last text-center">
					<%= @product.hit_count %>
				</div>
			</div>
		</div>
		<div class="span-4 append-1">
			<% for product_image in @product.product_images %>
				<div class="span-4 last margin-top">
					<%= link_to image_tag(product_image.image.url(:medium)), product_image.image.url(:original), :target => '_blank' %>
				</div>
			<% end %>
		</div>
		<div class="span-10">
			<%= RedCloth.new(@product.description).to_html unless @product.description.blank? %><br/>
		</div>
		<div class="span-2">&nbsp;</div>
		<div class="span-6  border-all last">
			<% for category in @product.categories %>
			<% this_index = @product.categories.index category %>
			<div class="span-3 text-right field-label">
				category: <%= this_index + 1 %>
			</div>
			<div class="span-3 last">
				<%= category.parent.name %><br/>
			</div>
			<div class="span-3 text-right field-label">
				sub category: <%= this_index + 1 %>
			</div>
			<div class="span-3 last">
				<%= category.name %><br/>
			</div>
			<% end %>
			<div class="span-3 text-right">
				&nbsp;
			</div>
			<div class="span-3 last">
				<%= @product.new ? '' : 'used product' %><br/>
			</div>
			<div class="span-3 text-right field-label">
				price:
			</div>
			<div class="span-3 last">
 <% if @product.product_options.length > 1 %> see options <% elsif @product.product_options.length == 1 %> <%= @product.product_options.first.price.format %> <% else %> no price set <% end %>
			</div>
		</div>
	</div>
</div>