<div class="span-4 last">
	&nbsp;
</div>
<div id="vehicle_make_new" class="span-8 last"></div>
<div class="span-8 last border-bottom">
	<% form_for owner.class.name.underscore.to_sym, owner,
		:url => "/manage/#{owner.class.name.underscore.pluralize}/#{owner.id}",
		:html => {
			:ajax_binding => 'ajax_form',
			:ajax_method => 'PUT',
			:id => "edit_owner_vehicle_makes_form_#{owner.id}"
		} do |f| %>
		<%= select_tag owner.class.name.underscore + '[vehicle_make_ids][]', options_for_select(VehicleMake.all.map{|sg| [sg.name,sg.id]}, owner.send( owner.class.name.underscore + '_vehicle_makes').map{|pvm| pvm.vehicle_make_id}), :id => "vehicle_make_list_#{owner.id}", :multiple => true %>
	<% end %>
</div>
<% javascript_tag do %>
$(document).ready(function(){
	$('#vehicle_make_list_<%= owner.id %>').change(function(e){
		$('#edit_owner_vehicle_makes_form_<%= owner.id %>').submit();
		loadVehicleMakeSelect();
	});
	function loadVehicleMakeSelect(){
		$.ajax({
			type: 'GET',
			url: '<%= manage_product_option_vehicle_models_url %>',
			data: $('#vehicle_make_list_<%= owner.id %>').serialize() + '&owner_id=<%= owner.id %>&owner_type=<%= owner.class.name %>&ui_element=checkboxes',
			success: function(data,textStatus){
				$('#product_option_vehicle_model_container_<%= owner.id %>').html(data);
				bindAjaxEvents();
			}
		});
	};
	loadVehicleMakeSelect();
});
<% end %>