<% product_image = new %>
<div class="span-8 last list_item_new border-bottom" id="product_image_loader">
	<div class="span-8 last field-label">
		add an image
	</div>
	<div id="image_ready" class="span-8 last">
		<% form_for :product_image, product_image, :url => manage_product_images_url, :html => { :multipart => true, :target => "product_image_upload_frame", :id => 'product_image_new_form', :onsubmit => "$('#image_ready').hide(); $('#product_image_uploading').show();"} do |f| %>
			<div class="span-8 last">
				<div class="span-2 field-label">choose file</div>
				<div class="span-6 last">
			  	<%= f.file_field :image, :size => '19' %>
					<%= f.hidden_field :product_id %>
				</div>
			</div>
			<div class="span-8 last">
				<div class="span-2 field-label">caption</div>
				<div class="span-4">
					<%= f.text_field :caption, :size => '19' %>
				</div>
				<div class="span-2 last">
					<%= f.submit :upload %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="span-8 last" id="product_image_uploading" style="display: none;">
		<b>Uploading</b><br/>
		<%= image_tag 'ajax-loader.gif' %>
	</div>					
</div>
<iframe id="product_image_upload_frame" name="product_image_upload_frame" style="display: none"></iframe>
