	<% post = show %>
	<div class="span-14 text-center"><h1 class="large orange bold"><%= post.title %></h1></div><br/>
	<%= image_tag(post.image.url(:full_width)) if post.image.exists? %><br/>
	<%= RedCloth.new(post.body).to_html if post.body %><br/>

	<%= link_to 'edit', edit_manage_post_url(post) + "?post[postable_type]=#{@postable.class.name}&post[postable_id]=#{@postable.id}"%>
	<% if Page.post_quantity_for(@postable.name) > 1 %> | 
		<%= link_to 'delete', manage_post_url(post) + "?post[postable_type]=#{@postable.class.name}&post[postable_id]=#{@postable.id}", :method => :delete, :confirm => 'Are you sure you want to delete this post?' %>
	<% end %>
	
	<% 	if post.published
		 		this_action = 'unpublish'
				next_state = 'false'
			else
				this_action = 'publish'
				next_state = 'true'
			end %>
		| <%= link_to this_action, manage_post_url(post) + "?post[postable_type]=#{@postable.class.name}&post[postable_id]=#{@postable.id}&post[published]=#{next_state}", :method => :put %>
