<%= render :partial => 'section_nav' %>
<div class="span-24 last small-links dash-foreground-color container-padding">
	<div class="span-24 last margin-bottom">
	<h2>Content for <%= @postable.class.display_name %> <%= @postable.name %></h2>
	</div>
	<%= @post.first_error_on :base %>
<% form_for :post, @post, :url => manage_post_url(:id => @post.id, :_method => :put), :html => {:multipart => true} do |f| %>
	<div class="span-1 text-right field-label">
	title
	</div>
	<div class="span-23 last">
	<%= @post.first_error_on :title %>
	<%= f.text_field :title, :class => "span-8"%>
	</div>
	<div class="span-1 text-right field-label">
	image
</div>
<div class="span-23 last">
	<% if @post.image.exists? %>
		<%= image_tag @post.image.url(:original) %>
		<%= link_to 'delete', manage_post_url(@post) + "?image=delete&post[postable_type]=#{@postable.class.name}&post[postable_id]=#{@postable.id}", :method => :put %>
	<% else %>
		<%= @post.first_error_on :image %>
		<%= f.file_field :image, :class => "span-8" %>
	<% end %>
</div>
<div class="span-1 text-right field-label">
	body <a href="/manage/products/textile_manual" target="_blank">?</a>
</div>
<div class="span-23 last">
	<%= @post.first_error_on :body %>
	<%= f.text_area :body, :class => "span-12" %>
</div>

	<%= f.hidden_field :postable_type %>
	<%= f.hidden_field :postable_id %>
	<%= f.submit :save %>
	<%= link_to 'cancel', manage_posts_url + "?postable_type=Page&postable_id=#{@postable.id}" %>
<% end %>
</div>
