<% category = show %>
<div class="span-10 last">
<div class="span-5">
<%= category.name %>
</div>

<div class="span-4">
<% if category.parent.nil? %>
	<%# link_to 'expand', manage_category_url(category) + '?section=subcategories',
		:ajax_binding => 'ajax_link',
		:ajax_method => 'GET',
		:ajax_success_element => "category_#{category.id}" %>
	<%= link_to 'expand', manage_categories_url + "?parent_id=#{category.id}&category_area=true" %> | 
<% end %>
<%= link_to 'edit', edit_manage_category_url(category),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "category_#{category.id}",
	:ajax_success_callback => "$('#category_#{category.id}').addClass('editing');" %>
<% unless ([category] + category.children).detect{|cat| cat.products.any?} %>
	 | 
<%= link_to 'delete', manage_category_url(category),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'DELETE',
	:ajax_success_callback => "$('#category_#{category.id}').remove();",
	:ajax_confirm => 'Are you sure you want to delete this category?' %>
<% end %>
</div>
<div class="span-1 last">
<%= image_tag('/images/drag_handle.png', :ui_binding => 'sortable_drag_handle') %>
</div>
</div>