<% product_option = show %>
<div class="span-11 last">
<div class="span-2"><%= product_option.name.blank? ? '-' : product_option.name %></div>
<div class="column span-1_5">
<%= product_option.price %>
</div>
<div class="column span-2">
<%= product_option.sku.blank? ? '-' : product_option.sku %>
</div>
<div class="span-1">
<%= product_option.inventory_quantity.blank? ? '-' : product_option.inventory_quantity %>
</div>

<div class="span-4 last">
<%= link_to 'models', manage_product_option_url(product_option) + '?product_option_section=models',
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "product_option_#{product_option.id}" %>
<%= link_to image_tag('/images/pencil.png'), edit_manage_product_option_url(product_option),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'GET',
	:ajax_success_element => "product_option_#{product_option.id}",
	:ajax_success_callback => "$('#product_option_#{product_option.id}').addClass('editing');" %>
<%= link_to image_tag('/images/delete-16x16.png'), manage_product_option_url(product_option),
	:ajax_binding => 'ajax_link',
	:ajax_method => 'DELETE',
	:ajax_success_callback => "$('#product_option_#{product_option.id}').remove();",
	:ajax_confirm => 'Are you sure you want to delete this product_option?' %>
<%= image_tag('/images/drag_handle.png', :ui_binding => 'sortable_drag_handle') %>
</div>
</div>