<% if @category %>
	<% top_category = @category.parent.nil? ? @category : @category.parent %>
	<div class="span-14_75 last quiet">
		<div class="span-3">filter by:</div>
		<% if top_category.vehicle_filter %>
			<div class="span-3">make</div>
			<div class="span-4">model</div>
		<% end %>
		<div class="span-2">new/used</div>
	</div>
	<div class="span-14_75 last">
		<% form_tag '/products', :method => :get do %>
			<%= hidden_field_tag 'category_id', @category.id %>
			<% if top_category.vehicle_filter %>
				<div class="span-3 prepend-3">
					<%= select_tag 'vehicle_make_id', options_for_select([['any',nil]] + VehicleMake.all.map{|vm| [vm.name,vm.id]},@vehicle_make ? @vehicle_make.id : nil), :id => 'vehicle_make_select' %>
				</div>
				<div id="vehicle_model_select" class="span-4"></div>
			<% end %>
			<div id="used_filter" class="span-2">
				<%= select_tag 'used', options_for_select([['any',nil],['new','new'],['used','used']],@used ? @used : nil) %>
			</div>
			<div class="span-2_5 last"><%= submit_tag 'Browse' %></div>
		<% end %>
	</div>
	<% if top_category.vehicle_filter %>
	<div id="vehicle_model_select_" style="display: none;">
		-
	</div>
		<% for vehicle_make in VehicleMake.find(:all, :include => :vehicle_models) %>
			<div id="vehicle_model_select_<%= vehicle_make.id %>" style="display: none;">
				<%= select_tag 'vehicle_model_id', options_for_select([['any',nil]] + vehicle_make.vehicle_models.map{|vmo| [vmo.name,vmo.id]},@vehicle_model ? @vehicle_model.id : nil) %>
			</div>
		<% end %>
	<% end %>
<% end %>
<% for product in @products %>
	<%= link_to product.name, product_url(product) %><br/>
<% end %>
<%= will_paginate @products %>
<% javascript_tag do %>
	function swapVehicleModels(vehicle_make_id) {
		$('#vehicle_model_select').html($('#vehicle_model_select_' + vehicle_make_id).html());
	}
	$(document).ready(function(){
		$('#vehicle_make_select').change(function(e){
			swapVehicleModels($(e.target).val());
		});
		swapVehicleModels($('#vehicle_make_select').val());
	})
<% end %>