<% if @category %>
	<% top_category = @category.parent.nil? ? @category : @category.parent %>
	<div class="span-14_75 last quiet">
		<div class="span-1_5">filter by:</div>
		<% if top_category.vehicle_filter %>
			<div class="span-3">make</div>
			<div class="span-5">model</div>
		<% end %>
		<div class="span-2">new/used</div>
	</div>
	<div class="span-14_75 last margin-bottom border-bottom">
		<div class="span-1_5">&nbsp;</div>
		<% form_tag '/products', :method => :get do %>
			<%= hidden_field_tag 'category_id', @category.id %>
			<% if top_category.vehicle_filter %>
				<div class="span-3">
					<%= select_tag 'vehicle_make_id', options_for_select([['any',nil]] + @vehicle_makes.map{|vm| [vm.name,vm.id]},@vehicle_make ? @vehicle_make.id : nil), :id => 'vehicle_make_select', :class => 'span-3' %>
				</div>
				<div id="vehicle_model_select" class="span-5"></div>
			<% end %>
			<div id="used_filter" class="span-2">
				<%= select_tag 'used', options_for_select([['any',nil],['new','new'],['used','used']],@used ? @used : nil) %>
			</div>
			<div class="span-2_5 last"><%= submit_tag 'Browse' %></div>
		<% end %>
	</div>
	<% if top_category.vehicle_filter %>
	<div id="vehicle_model_select_" style="display: none;">
		-
	</div>
		<% for vehicle_make in @vehicle_makes %>
			<div id="vehicle_model_select_<%= vehicle_make.id %>" style="display: none;">
				<%= select_tag 'vehicle_model_id', options_for_select([['any',nil]] + @vehicle_models[vehicle_make.id].map{|vmo| [vmo.name,vmo.id]},@vehicle_model ? @vehicle_model.id : nil), :class => 'span-5' %>
			</div>
		<% end %>
	<% end %>
<% end %>
<% unless @products.any? %>
	<div class="system-message blue">No products match your filters for the category you selected. Try selecting different filters or a different category.</div>
<% end %>
<div class="span-14_75 last">
	<div class="span-1">&nbsp;</div>
	<div class="span-13_75 last">
<% for product in @products %>
<div class="span-4 product-thumb">
	<% 	these_params = []
			these_params.push "vehicle_make_id=#{@vehicle_make.id}" if @vehicle_make
			these_params.push "vehicle_model_id=#{@vehicle_model.id}" if @vehicle_model
			this_url = product_url(product) + (these_params.any? ? '?' + these_params.join('&') : '') %>
	<div class="span-4 image-medium-wrapper"><%= link_to image_tag(product.product_images.first.image.url(:medium)), this_url if product.product_images.any? %></div>
	<%= link_to product.name, this_url %><br/>
	<% if product.product_options.length == 1 %>
		<%= product.product_options.first.price.format %>
		<%= link_to 'add to cart', '#'%>
	<% else %>
		<%= link_to 'see options', this_url %>
	<% end %>
</div>
<% end %>
</div>
</div>
<%= will_paginate @products %>
<% javascript_tag do %>
	function swapVehicleModels(vehicle_make_id) {
		$('#vehicle_model_select').html($('#vehicle_model_select_' + vehicle_make_id).html());
	}
	$(document).ready(function(){
		$('#vehicle_make_select').change(function(e){
			swapVehicleModels($(e.target).val());
		});
		swapVehicleModels($('#vehicle_make_select').val());
	})
<% end %>