<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Mad Racing MX <%= @page_title %></title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" /> 
	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
 	<% if @nav_area == 'manage' %> <link rel="stylesheet" href="/stylesheets/manage.css" type="text/css" media="screen" /> <% end %> 
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
	<%= javascript_include_tag 'application.js' %>
	<%= javascript_include_tag 'ajax_bindings.js' %>
	<%= javascript_include_tag 'ui_bindings.js' %>
</head>
<body>
	<div class="container">
		
		<div class="header span-24 last dash-frame-color container-padding">
			<div class="span-8">
				<span class="banner">Mad Racing MX</span>
			</div>
			<div class="span-16 last main-nav-tabs">
				<% if @nav_area == 'manage' %>
					<div class="span-4 text-center <% if @nav_tab == 'products' %>selected<% end %>"><%= link_to 'products', manage_products_url %></div>
					<div class="span-4 text-center <% if @nav_tab == 'categories' %>selected<% end %>"><%= link_to 'categories', manage_categories_url %></div>
					<div class="span-4 text-center <% if @nav_tab == 'models' %>selected<% end %>"><%= link_to 'makes & models', manage_vehicle_makes_url %></div>
					<div class="span-4 last text-center"><%= link_to 'public site', '#' %></div>
				<% else %>
					<div class="span-4 text-center"><%= link_to 'products', '#' %></div>
					<div class="span-4 text-center"><%= link_to 'about', '#' %></div>
					<div class="span-4 text-center"><%= link_to 'news', '#' %></div>
				<% end %>
			</div>
		</div>
		<%= flash[:notice] %>
		<% if @nav_area == 'manage' %>
		<% end %>
		<%= yield %>
	</div>
</div>	
</body>
</html>