<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Mad Racing MX <%= @page_title %></title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" /> 
	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
 	<% if @nav_area == 'manage' %> <link rel="stylesheet" href="/stylesheets/manage.css" type="text/css" media="screen" /> <link rel="stylesheet" href="/stylesheets/jquery-ui-1.7.1.custom.css" type="text/css" media="screen" />
	<% end %> 
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
	<%= javascript_include_tag 'application.js' %>
	<%= javascript_include_tag 'ajax_bindings.js' %>
	<%= javascript_include_tag 'ui_bindings.js' %>
</head>
<body>
	<div class="container">
		<% if @nav_area == 'manage' %>
			<div class="span-24 last dash-frame-color container-padding">
				<div class="span-8">
					<span class="banner"><a href="/">MAD RACING MX</a></span>
				</div>
				<div class="span-16 last main-nav-tabs">
						<div class="span-4 text-center <% if @nav_tab == 'products' %>selected<% end %>"><%= link_to 'products', manage_products_url %></div>
						<div class="span-4 text-center <% if @nav_tab == 'categories' %>selected<% end %>"><%= link_to 'categories', manage_categories_url %></div>
						<div class="span-4 text-center <% if @nav_tab == 'models' %>selected<% end %>"><%= link_to 'makes & models', manage_vehicle_makes_url %></div>
						<div class="span-4 last text-center <% if @nav_tab == 'orders' %>selected<% end %>"><%= link_to 'orders', manage_orders_url + '?state=pending' %></div>
				</div>
			</div>
		<% else %>
			<div class="left-frame">
				&nbsp;
			</div>
			<div class="middle-frame">
				<div class="header">
					<div class="span-19 header-content">
						<div class="span-8 prepend-10 append-1 text-right last">&nbsp;
						</div>
						<div class="span-8 prepend-10 append-1 text-right last">
							<form action="/products">Search <input type="text" name="search_terms" class="span-5"/> <input type="submit" value="Go"/></form>
						</div>
						<div class="span-19 last header-spacer">
							<div class="span-19 last header-spacer-2">&nbsp;</div><div class="span-13 prepend-6 last"><div class="tagline-spacer-2">GET ALL YOUR MX-ATV-STREET PARTS AND ACCESSORIES HERE</div></div>
						</div>
						<div class="span-19 last"><div class="tagline-spacer">WE'RE MAD ABOUT GREAT SERVICE!</div></div>
					</div>
				</div>
				<div class="category-bar">
					<div class="span-3_75">&nbsp;</div>
					<% for category in Category.top_level %>
						<% if @category %>
							<% top_category = @category.parent.nil? ? @category : @category.parent %>
						<% end %>
						<div class="top-category">
							<%= link_to category.name, products_url + "?category_id=#{category.id}", :class => (top_category == category) ? 'category-selected' : '' %>
								<% if top_category == category %>
								  <div class="top-category border-top border-bottom">
									<% for sub_category in category.children %>
										<div class="sub-category">
											<%= link_to sub_category.name, products_url + "?category_id=#{sub_category.id}", :class => (@category == sub_category) ? 'category-selected' : '' %>
										</div>
									<% end %>
								</div>
								<% end %>
						</div>
					<% end %>
				</div>
				<div class="nav-bar blue-background">
					<div class="span-2 text-center <% if @nav_tab == 'home' %>nav-selected<% end %>">
						<a href="/home">HOME</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'cart' %>nav-selected<% end %>">
						<a href="/cart">MY CART</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'news' %>nav-selected<% end %>">
						<a href="/news">NEWS</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'about' %>nav-selected<% end %>">
						<a href="/about">ABOUT US</a>
					</div>
				</div>
				<div class="nav-spacer"><img src="/images/nav_whiteback.gif"></div>
				<div class="content-frame">
					<div class="content-frame-height">
						<img src="/images/whiteback.gif">
					</div>
					<div class="span-14_75 last">
		<% end %>
		<%= flash[:notice] %>
		<%= yield %>
		<% unless @nav_area == 'manage' %>
			</div>
			</div>
			</div>
			<div class="span-8 prepend-15 margin-top"><span class="footer"><a href="mailto:contact@madracingmx.com">contact@madracingmx.com</a> || 800.000.0000</span>	
		<% end %>
	</div>
</body>
</html>