<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Mad Racing MX <%= @page_title %></title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" /> 
	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
 	<% if @nav_area == 'manage' %> <link rel="stylesheet" href="/stylesheets/manage.css" type="text/css" media="screen" /> <link rel="stylesheet" href="/stylesheets/jquery-ui-1.7.1.custom.css" type="text/css" media="screen" />
	<% end %> 
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<%= javascript_include_tag 'jquery-1.3.2.min' %>
	<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
	<%= javascript_include_tag 'application.js' %>
	<%= javascript_include_tag 'ajax_bindings.js' %>
	<%= javascript_include_tag 'ui_bindings.js' %>
</head>
<body>
	<div class="container">
		<% if @nav_area == 'manage' %>
			<div class="span-24 last dash-frame-color container-padding">
				<div class="span-8">
					<span class="banner"><a href="/">MAD RACING MX</a></span>
				</div>
				<div class="span-16 last main-nav-tabs">
						<div class="span-3 text-center <% if @nav_tab == 'products' %>selected<% end %>"><%= link_to 'products', manage_products_url %></div>
						<div class="span-3 text-center <% if @nav_tab == 'categories' %>selected<% end %>"><%= link_to 'categories', manage_categories_url %></div>
						<div class="span-3 text-center <% if @nav_tab == 'models' %>selected<% end %>"><%= link_to 'makes & models', manage_vehicle_makes_url %></div>
						<div class="span-3 text-center <% if @nav_tab == 'posts' %>selected<% end %>"><%= link_to 'site content', manage_posts_url + '?postable_type=Page&postable_id=1' %></div>
						<div class="span-3 last text-center <% if @nav_tab == 'orders' %>selected<% end %>"><%= link_to 'orders', manage_orders_url + '?state=pending' %></div>
				</div>
			</div>
		<% else %>
			<div class="left-frame">
				&nbsp;
			</div>
			<div class="middle-frame"><div class="middle-frame-inner">
				<div class="header">
					<div class="span-19 header-content">
						<div class="span-8 prepend-10 append-1 text-right last"><span class="blue"><a href="mailto:contact@madracingmx.com">EMAIL US</a></span> &nbsp;<span class="orange">||</span>&nbsp; <span class="yellow">ORDER NOW!</span> <span class="orange">207.602.1566</span>
						</div>
						<div class="span-8 prepend-10 append-1 text-right last">
							<form action="/products">Search <input type="text" name="search_terms" class="span-5"/> <input type="submit" value="Go"/></form>
						</div>
						<div class="span-19 last header-spacer">
							<div class="span-19 last header-spacer-2">&nbsp;</div><div class="span-13 prepend-6 last"><div class="tagline-spacer-2">GET ALL YOUR MX-ATV-STREET PARTS AND ACCESSORIES HERE</div></div>
						</div>
						<div class="span-19 last"><div class="tagline-spacer">WE'RE MAD ABOUT GREAT SERVICE!</div></div>
					</div>
				</div>
				<div id="category-bar" class="category-bar">
					<div class="span-3_75">&nbsp;</div>
					<div class="top-category special-group bold">
						<%= link_to "WHAT'S NEW?", products_url + "?special_group=whats_new", :class => (@special_group == 'whats_new') ? 'category-selected' : '' %>
					</div>
					<div class="top-category special-group bold">
						<%= link_to "CLEARANCE", products_url + "?special_group=clearance", :class => (@special_group == 'clearance') ? 'category-selected' : '' %>
					</div>
					<% if @category %>
						<% top_category = @category.parent.nil? ? @category : @category.parent
						%>
						<div class="top-category">
							<%= link_to 'All Categories', '/' %>
						</div>
						<div class="top-category">
							<%= link_to top_category.name, products_url + "?category_id=#{top_category.id}", :class => 'category-selected' %>
						  <div class="top-category border-top border-bottom">
								<% for sub_category in top_category.children %>
									<div class="sub-category">
										<%= link_to sub_category.name, products_url + "?category_id=#{sub_category.id}", :class => (@category == sub_category) ? 'category-selected' : '' %>
									</div>
								<% end %>
							</div>
						</div>
					<% else %>
						<% for category in Category.top_level %>
							<div class="top-category">
								<%= link_to category.name, products_url + "?category_id=#{category.id}", :class => (top_category == category) ? 'category-selected' : '' %>
								<% if top_category == category %>
								  <div class="top-category border-top border-bottom">
										<% for sub_category in category.children %>
											<div class="sub-category">
												<%= link_to sub_category.name, products_url + "?category_id=#{sub_category.id}", :class => (@category == sub_category) ? 'category-selected' : '' %>
											</div>
										<% end %>
									</div>
								<% end %>
							</div>
						<% end %>
					<% end %>
					<div class="span-3_75">&nbsp;</div>
					<div class="span-3_75">
					<img src="/images/visa_mastercard_logo.gif"/>
					</div>
					<div class="span-3_75">&nbsp;</div>
					<div class="span-3_5">
					<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=184210802406a37416510120b22a62e057e529420953497925723837615"></script><br/><a style="font-family:arial;font-size:9px" href="https://www.godaddy.com/gdshop/ssl/ssl.asp" target="_blank">SSL Certificate</a></span>
					</div>
					<div class="span-3_75">&nbsp;</div>
					<div class="span-1">&nbsp;</div>
					<div class="span-2_5">
					<!-- (c) 2005, 2009. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="3e1394d7-0d37-4556-8cd0-336269d3f0d6";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Processing</a> </div>
					</div>
				</div>
				<div class="nav-bar blue-background">
					<div class="span-2 text-center <% if @nav_tab == 'home' %>nav-selected<% end %>">
						<a href="/home" <% if @nav_tab == 'home' %>ui_binding="nav-selected"<% end %>>HOME</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'carts' %>nav-selected<% end %>">
						<a href="/cart" <% if @nav_tab == 'carts' %>ui_binding="nav-selected"<% end %>>MY CART</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'news' %>nav-selected<% end %>">
						<a href="/news" <% if @nav_tab == 'news' %>ui_binding="nav-selected"<% end %>>NEWS</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'about' %>nav-selected<% end %>">
						<a href="/about" <% if @nav_tab == 'about' %>ui_binding="nav-selected"<% end %>>ABOUT US</a>
					</div>
					<div class="span-2 text-center <% if @nav_tab == 'policies' %>nav-selected<% end %>">
						<a href="/policies" <% if @nav_tab == 'policies' %>ui_binding="nav-selected"<% end %>>POLICIES</a>
					</div>
					<div class="span-2_5 text-center <% if @nav_tab == 'contact' %>nav-selected<% end %>">
						<a href="/contact" <% if @nav_tab == 'contact' %>ui_binding="nav-selected"<% end %>>CONTACT US</a>
					</div>
				</div>
				<div class="nav-spacer"><img src="/images/nav_whiteback.gif"></div>
				<div id="content-frame" class="content-frame">
					<div class="content-frame-height">
						&nbsp;
					</div>
					<div class="span-14_75 last content-frame-inner">
		<% end %>
		<%= flash[:notice] %>
		<%= yield %>
		<% unless @nav_area == 'manage' %>
					</div>
				</div>
				<div class="footer" style="background-color: #FFFFFF;">
					<div class="footer-cat-spacer" style="background-color: #CACACA; border-left: 1px solid #FFFFFF;">&nbsp;</div>
					<div class="span-14_75 last text-center">
						2 Main Street, Suite 15-212, Biddeford, ME 04005
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% javascript_tag do %>
	$(document).ready(function(){
		var new_height = $('#content-frame').height() + 24;
		var cat_height = 20;
		$('#category-bar').children().each(function(i){cat_height += $(this).height()});
		if(cat_height > new_height) {
			$('#content-frame').css({'height' : (cat_height - 24) + 'px'});
			$('#category-bar').css({'height' : cat_height + 'px'});
		} else {
			$('#category-bar').css({'height' : new_height + 'px'});
		}
		$(".nav-bar div a:not(\"[ui_binding='nav-selected']\")").mouseover(function(e){
			$(e.target).parent().css({ 'background' : "url(/images/button.jpg)"})
		})
		$(".nav-bar div a:not(\"[ui_binding='nav-selected']\")").mouseout(function(e){
			$(e.target).parent().css({ 'background' : "transparent"})
		})
	});
	<% end %>
</body>
</html>